[submodule "deps/first/Unreal"]
	path = deps/first/Unreal
	url = https://github.com/jack111331/UEPseudo.git
[submodule "deps/first/patternsleuth"]
	path = deps/first/patternsleuth
	url = https://github.com/jack111331/patternsleuth.git
[submodule "deps/third/NumCpp"]
	path = deps/third/NumCpp
	url = https://github.com/dpilger26/NumCpp
